@import "../index.scss";

.AboutMe {
  display: flex;
  justify-content: center;
  min-width: 322px;
  padding-left: 0;

  &__about {
    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 87px 40px 60px 40px;
    }

    &__left {
      &--img {
        margin-top: 15px;

        > img {
          width: 325px;

          @include tablet {
            width: 500px;
          }

          @include desktop {
            width: 600px;
            margin-left: 15px;
            margin-right: 20px;
          }
        }
      }

      &--cv {
          margin:20px;
        > a {
          color: $secondary-color;
          &:hover {
            padding: 15px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
            transform: translateY(-10px) scale(1.02);
          }
        }
        > p{
          color: rgb(219, 202, 202);
        }
      }
    }

    &__card {
      &--text {
        line-height: 2;
        background: rgba(20, 20, 20, 0.5);
        margin: 15px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);

        &__title {
          text-align: left;
          margin-left: 20px;
          padding-top: 12px;
          color: $secondary-color;
        }
        &__description {
          padding: 15px;
          font-style: oblique;
          color: rgb(219, 202, 202);
        }

        &__border {
          margin-left: 20px;
          width: 3.5rem;
          border-bottom: 0.15rem solid grey;
          border-bottom-color: rgb(84, 91, 94);
        }
      }

      &--tecnologies {
        display: flex;
        flex-direction: column;
        padding: 15px;

        @include desktop {
          justify-content: center;
          flex-direction: row;
          flex-wrap: wrap;
        }

        &--tecnology {
          border: 1px solid rgba(20, 20, 20, 0.5);
          border-radius: 5px;
          color: rgb(219, 202, 202);
          margin: 8px;
          padding: 0px 10px;
          background: rgba(122, 119, 119, 0.5);
        }
      }
    }
  }
}
