@import "../index.scss";

.BurguerMenu {
  display: block;

  @include desktop {
    display: none;
  }
>button{
  @extend .custom-button2;
  &__icon{
    @extend .custom-button2;
  }
}
  

  &__list {
    list-style: none;
    padding: 0;

    &__link{
      
      >a {
        color: $secondary-color;
        text-decoration: none;
        cursor: pointer;
        
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size 0.3s;

        &:hover,
        &:focus {
          background-size: 100% 2px;
          font-weight: bold;
        }
      }
    }
  }
}
