@import "../index.scss";

.Home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;

  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }

  &__title {
    font-size: 33px;
    color: rgb(219, 202, 202);
  }
  &__subtitle {
    color: $secondary-color;
  }
  &__border {
     
    width: 6.5rem;
    border-bottom: 0.15rem solid grey;
    border-bottom-color: rgb(84, 91, 94);
  }

  &__description {
    font-size: large;
    font-style: oblique;
    border-radius: 5px;
    color: rgb(219, 202, 202);
    padding: 30px;
    background: rgba(20, 20, 20, 0.5);
    
    transition: 0.3s ease;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

    &:hover {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
      transform: translateY(-10px) scale(1.02);
    }

    @include desktop{
        font-size: 25px;
       
        padding:100px;
    }
  }
}
