@import "../index.scss";

.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 196px;
  min-width:325px;
  background-color: black;

  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-color: black;
  }

  &__logo {
    width: 130px;
    background-color: black;
    color: whitesmoke;

    @include desktop {
      width: 200px;
    }
  }

  &__menu{
    display: none;
   
    

    @include desktop{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 48rem;
    }
  }

  &__link {
    color: $secondary-color;
    cursor: pointer;
    margin: 5px;

    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;

    &:hover,
    &:focus {
      background-size: 100% 2px;
      font-weight: bold;
    }
  }
}

