@import "../index.scss";

.Projects {
  &__container {
    list-style-type: none;
    color: antiquewhite;
    padding: 0;
    margin:28px;

    @include desktop {
      list-style-type: none;
      color: antiquewhite;
      padding: 0;
    }

    &__list {
      @include desktop {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;

        margin: 100px 0px;
      }

      &--text {
        

        @include desktop {
          display: flex;
          flex-direction: column;
          width: 100%;
          background: rgba(20, 20, 20, 0.5);
          margin-left: 68px;
          padding: 35px;
        }
        >div{
          >a{
            margin:15px;
            color:$secondary-color;
            font-size: large;
            &:hover {
              color:rgb(84, 91, 94);
              transform: translateY(-10px) scale(1.02);
            }
          }
          
         
        }
      }
      &--mp4{

        >video{
          width: 311px;
          height: 186px;

          @include desktop{
            width: 692px;
            height: 391px;
          }
        }
      }
    }
  }
}
