body {
   margin: 0;
  height: 100vh;
  font-family:"Open Sans",Arial,sans-serif;
   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(40,39,39);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

//VARIABLES
$primary-color: rgb(214,139,65);
$secondary-color: #ED4949;
$desktop-layout: 950px;
$layout_bp_tablet: 550px;

a:link,
a:visited,
a:active {
  text-decoration: none;
}


//RESPONSIVE
@mixin desktop {
  @media screen and (min-width: $desktop-layout) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-width: $layout_bp_tablet) {
    @content;
  }
}
// Custom classes

.custom-button2 {
  background-color: black;
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    font-size: 1.5rem;
  }
}
